# For running tests
pytest  # Testing framework.
pytest-xdist  # Plugin allowing running tests in parallel.
pytest-timeout # Plugin to abort hanging tests.
pytest-catchlog  # Capture log output separately from stdout/stderr